 /* body {
  background-color: #121212;
}

.navbar {
  background-color: #121212;
}

.item {
  color: white;
}

.faMoon {
  color: white;
}

p {
  color: white;
}

.background {
  background-color: #121212;
} */